.finance-list {
  background-color: #fff;

  &__wrapper {
    background-color: #fff;
    width: 100%;
    height: 100%;
    padding: 25px 0;
  }

  &__chart {
    padding: 0 100px;
  }

  &__chart-title {
    text-align: center;
    font-size: 1.5rem;
  }

  &__pie-chart-title {
    text-align: center;
    font-size: 1.5rem;
  }

  &__pie-chart {
    margin: 0 auto;
  }

  &__pie-chart-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
}
